apiVersion: v1
kind: Secret
metadata:
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-secret
    app.kubernetes.io/part-of: argocd
  name: argocd-secret
type: Opaque
data:
  oidc.azure.clientSecret: ${CLIENT_SECRET}

